.header-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .header-form {
    text-align: center;
    .header-search {
      input[type="text"] {
        background-color: transparent;
        display: inline-block;
        border: none;
        appearance: none;
        border-bottom: 2px solid $red_1;
        margin-bottom: 0.5em;
        font-size: 4em;
        text-align: center;
        &:focus {
          outline: none;
        }

      }
    }
    .header-type {
      .header-type-input:checked ~ .header-type-label {
        background-color: $red_3;
        color: $red_5;
      }

      .header-radio-wrapper {
        display: inline-block;
      }

      .header-type-input {
        opacity: 0;
      }

      .header-type-label {
        padding: 5px 10px;
        font-family: 'Rubik';
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.1em;
        color: $red_1;
        cursor: pointer;
        font-size: 2em;
      }
    }
  }
}
