// Guias
@import "./guidelines/fonts";
@import "./guidelines/colors";
@import "./guidelines/normalize";

// Componentes
@import "./parts/header";
@import "./parts/cards";
@import "./parts/modal";

body {
  font-family: 'Lora';
  font-weight: 400;
  background-color: $color_5;
}